[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
flask-migrate = "*"
pytest = "*"
livebook = {editable = true,path = "."}

[packages]
flask = "*"
flask_sqlalchemy = "*"
flask_login = "*"
psycopg2 = "*"
flask-bcrypt = "*"
sqlalchemy_utils = "*"
google-api-python-client="*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
gspread = "*"

[requires]
python_version = "3.7"
