{% extends "nav_page.j2" %}
{% block navbar %}
  <li class="nav-item">
    <a class="nav-link" href="#">Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Import</a>
  </li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row mb-4">
      <div class="col-12">
        <nav class="mb-2">
          <div class="nav nav-tabs" id="navTab">
            <a class="nav-item nav-link active" id="navTextTab" data-toggle="tab" href="#navText">Text</a>
            <a class="nav-item nav-link" id="navStatsTab" data-toggle="tab" href="#navStats">Stats</a>
            <a class="nav-item nav-link" id="navOathsTab" data-toggle="tab" href="#navOaths">Oaths</a>
          </div>
        </nav>
        <div class="tab-content" id="navTabContent" style="height: 50vh;">
          <div class="tab-pane fade show active overflow-auto h-100" id="navText"></div>
          <div class="tab-pane fade offset-2 col-8 overflow-auto h-100" id="navStats">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Attribute</th>
                  <th scope="col">Value</th>
                </tr>
              </thead>
              <tbody id="attributeTable"></tbody>
            </table>
          </div>
          <div class="tab-pane fade overflow-auto h-100" id="navOaths">
            Aenean sed nulla in dui congue finibus. In tincidunt sit amet purus ut fermentum. In mollis et nunc et suscipit. Ut at neque lacinia, tincidunt metus at, scelerisque diam. Ut mollis ex tortor, ut fringilla odio ultrices in. Ut a nunc arcu. Curabitur orci diam, pharetra eu dui in, elementum mattis lacus.<br>
            Aenean sed nulla in dui congue finibus. In tincidunt sit amet purus ut fermentum. In mollis et nunc et suscipit. Ut at neque lacinia, tincidunt metus at, scelerisque diam. Ut mollis ex tortor, ut fringilla odio ultrices in. Ut a nunc arcu. Curabitur orci diam, pharetra eu dui in, elementum mattis lacus.<br>
            Aenean sed nulla in dui congue finibus. In tincidunt sit amet purus ut fermentum. In mollis et nunc et suscipit. Ut at neque lacinia, tincidunt metus at, scelerisque diam. Ut mollis ex tortor, ut fringilla odio ultrices in. Ut a nunc arcu. Curabitur orci diam, pharetra eu dui in, elementum mattis lacus.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="list-group" id="optionsList">
        <a href="#" class="list-group-item list-group-item-action">Cras justo odio dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus ac morbi leo risus justo odio dapibus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac morbi leo risus leo risus</a>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='js/page.js') }}"></script>
{% endblock %}
